# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
db.sqlite3

# Django
staticfiles/
media/
.pytest_cache/

# Node.js
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Логи
*.log